h1{
    font-family: 'Lato', sans-serif;
    color: #636269;
    font-size: 40px;
}
.btn{
    border-radius: 5%;
    background-color: #97ADB2;
}


#home{
 background-color: #ffffff;
 height: 750px;;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    color: #272343;
    font-weight: 700;
}
.navbar{
    background-color: #97ADB2;

}
.name{
    text-align: center;
    padding-top: 18%;
    line-height: 5em;

    
}
.name h1{
    font-size: 55px;
}
.name p{
    font-size: larger;
    font-weight: bolder;
}


/*forskningsformidling*/

#forskningsformidling{
    background-color: rgb(247, 255, 254);
}

/*Det levede lic*/

#fortællinger{
    background-color: #fff;
}