h1{
    font-family: 'Lato', sans-serif;
    color: #636269;
    font-size: 40px;
}
.btn{
    border-radius: 5%;
    background-color: #97ADB2;
}
h2{
    font-family: 'Libre Caslon Display',
    serif;
}


#home{
 background-color: #ffffff;
 height: 750px;;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    color: #272343;
    font-weight: 700;
}
.navbar{
    background-color: #97ADB2;

}
.name{
    text-align: center;
    padding-top: 18%;
    line-height: 5em;

    
}
.name h1{
    font-size: 70px;
    font-family: 'Libre Caslon Display',
    serif;
}
.name p{
    font-size: larger;
    font-weight: bolder;
}

/*Home*/

#home {
    background: url("images/25101.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    height: 100vh;
}

/*forskningsformidling*/

#forskningsformidling{
    
    background-color: rgb(248, 252, 252);
    height: 100vh;

}

/*Det levede lic*/

#fortællinger{
    height: 100vh;
    background-color: #fff;
}
#temaer{
    height: 100vh;

}
#om {
    height: 100vh;

}